<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:fragment="account-list">
        <p>Accounts below are available in the system to explore spring security example</p>

        <div class="row">

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">john</h5>
                        <h6 class="card-subtitle mb-2 text-muted">SUPER_ADMIN</h6>
                        <p class="card-text">Username: john</p>
                        <p class="card-text">Password: john</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">emma</h5>
                        <h6 class="card-subtitle mb-2 text-muted">EMPLOYEE_ADMIN</h6>
                        <p class="card-text">Username: emma</p>
                        <p class="card-text">Password: emma</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">william</h5>
                        <h6 class="card-subtitle mb-2 text-muted">DEPARTMENT_PAG_VIEW,DEPARTMENT_READ,DEPARTMENTS_CREATE</h6>
                        <p class="card-text">Username: william</p>
                        <p class="card-text">Password: william</p>
                    </div>
                </div>
            </div>




        </div>

        <div class="row">

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">lucas</h5>
                        <h6 class="card-subtitle mb-2 text-muted">CUSTOMER_PAG_VIEW, CUSTOMER_READ</h6>
                        <p class="card-text">Username: lucas</p>
                        <p class="card-text">Password: lucas</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">tom</h5>
                        <h6 class="card-subtitle mb-2 text-muted">No Roles</h6>
                        <p class="card-text">Username: tom</p>
                        <p class="card-text">Password: tom</p>
                    </div>
                </div>
            </div>



        </div>


    </div>
</body>
</html>