<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<form th:fragment="customerForm" action="#" method="post" th:action="@{/customers/create}" th:object="${customer}">
    <div class="row">
        <div class="col-md-4 mb-3">
            <label for="code">Code</label>
            <input type="text" class="form-control" id="code" th:field="*{code}"
                   th:classappend="${#fields.hasErrors('code')}? 'is-invalid'">
            <div class="invalid-feedback" th:errors="*{code}"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" th:field="*{firstName}"
                   th:classappend="${#fields.hasErrors('firstName')}? 'is-invalid'">
            <div class="invalid-feedback" th:errors="*{firstName}"></div>
        </div>
        <div class="col-md-6 mb-3">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" th:field="*{lastName}"
                   th:classappend="${#fields.hasErrors('lastName')}? 'is-invalid'">
            <div class="invalid-feedback" th:errors="*{lastName}"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mb-3">
            <label for="address">Address</label>
            <input type="text" class="form-control" id="address" th:field="*{address}"
                   th:classappend="${#fields.hasErrors('address')}? 'is-invalid'">
            <div class="invalid-feedback" th:errors="*{address}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1">
            <a href="#" th:href="@{/customers}" class="btn btn-outline-secondary">Cancel</a>
        </div>
        <div class="col-md-1">
            <button class="btn btn-primary btn-block" type="submit">Add</button>
        </div>
    </div>
</form>
</body>
</html>