<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
    <table th:fragment="employeesTable" class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
            <th>Address</th>
            <th>Cubicle</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee :${employees}">
            <td th:text="${employee.id}"></td>
            <td th:text="${employee.firstName}"></td>
            <td th:text="${employee.lastName}"></td>
            <td th:text="${employee.phoneNumber}"></td>
            <td th:text="${employee.address}"></td>
            <td th:text="${employee.cubicleNo}"></td>
            <td>
                <a href="#" th:href="@{'/employees/delete/'+ ${employee.id}}" type="button" class="btn btn-outline-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</body>
</html>