<!DOCTYPE html>
<html lang="en" th:replace="~{layouts/main :: layout(~{::main})}" xmlns:th="http://www.thymeleaf.org">
<body>
    <main role="main">
        <div class="container">
            <div class="row mt-5">
                <div class="col-md-12 py-4">
                    <h2>Customers List</h2>
                    <div th:replace="fragments/customersTable :: customersTable"></div>
                    <a href="#" th:href="@{/customers/create}" type="button" class="btn btn-primary">Add Customer</a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>